{% extends 'blog/base.html' %}
{% block content %}
    {%for post in posts%}
    <div class="box Article">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
                <img class="Image_Article" src="{{post.photo.name|cut:'blog'}}" alt="Image_Article"/>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
                <span class="Article_Titre">{{post.title}}<br></span>
                <span class="Article_Contenue">{{ post.text }}<br></span>
                <span class="Article_Auteur">Ecrit par : {{ post.author }} le {{post.created_date}}<br></span>
            </div>
        </article>
    </div>
    {% endfor %}
{% endblock %}
